{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-3">Projects</h1>
<div class="card"><div class="card-body table-responsive">
  <table class="table table-sm align-middle">
    <thead><tr><th>Name</th><th>Path</th><th>Files</th><th>Created</th><th>Last Scan</th></tr></thead>
    <tbody>
    {% for project in projects %}
      <tr><td>{{ project.name or "Untitled" }}</td><td class="path">{{ project.path }}</td><td>{{ project.media_count }}</td><td>{{ project.created_at }}</td><td>{{ project.last_scan }}</td></tr>
    {% endfor %}
    </tbody>
  </table>
</div></div>
{% endblock %}
